https://github.com/philipperemy/timit

https://www.kaggle.com/datasets/mfekadu/darpa-timit-acousticphonetic-continuous-speech?resource=download

https://www.kaggle.com/code/julwan/phoneme-recognition-with-wav2vec2

wav2vec seems like a common transformer model for speech recognition.

630 speakers, each read 10 sentences—2 dialect "shibboleth" sentences (SA), 5 phonetically compact sentences (SX), and 3 phonetically diverse sentences (SI).

- SA: expose the dialectal variants of the speakers.
- SX: provide a good coverage of pairs of phones, with extra occurrences of phonetic contexts thought to be either difficult or of particular interest.
- SI: add diversity in sentence types and phonetic contexts.

| Sentence Type | #Sentences | #Speakers | Total | #Sentences/Speaker |
|---------------|------------|-----------|-------|--------------------|
| Dialect (SA)  |      2     |    630    | 1260  |         2          |
| Compact (SX)  |     450    |     7     | 3150  |         5          |
| Diverse (SI)  |    1890    |     1     | 1890  |         3          |
|---------------|------------|-----------|-------|--------------------|
| Total         |    2342    |           | 6300  |        10          |

| Dialect Region (dr) | #Male   | #Female  | Total   |
|----------------------|---------|----------|---------|
|         1            | 31 (63%)| 18 (27%) | 49 (8%) |
|         2            | 71 (70%)| 31 (30%) |102(16%)|
|         3            | 79 (67%)| 23 (23%) |102(16%)|
|         4            | 69 (69%)| 31 (31%) |100(16%)|
|         5            | 62 (63%)| 36 (37%) | 98(16%)|
|         6            | 30 (65%)| 16 (35%) | 46 (7%)|
|         7            | 74 (74%)| 26 (26%) |100(16%)|
|         8            | 22 (67%)| 11 (33%) | 33 (5%)|
|----------------------|---------|----------|---------|
|        Total         | 438(70%)|192(30%)  |630(100%)|

The dialect regions are:
   dr1: New England
   dr2: Northern
   dr3: North Midland
   dr4: South Midland
   dr5: Southern
   dr6: New York City
   dr7: Western
   dr8: Army Brat (moved around)

For each utterance, the following information is available:
- .wav file: the speech waveform.
- .phn file: Time-aligned phonetic transcription.
- .wrd file: Time-aligned word transcription.
- .txt file: Associated orthographic transcription of the words the
            person said.

In [150]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [37]:
import glob
import librosa
import pandas as pd

# custum modules
from data_utils import *

ideal data structure:
``` python
data = {
    "document1": {
        "word": pd.DataFrame, 
        "phoneme": pd.DataFrame}
    ,
    "document2": {
        "word": pd.DataFrame,
        "phoneme": pd.DataFrame
    }
}
```

## Load phoneme, word, and transcript data

In [193]:
# sx61
glob.glob('timit/data/TRAIN/DR4/MGAG0/SX61.*')

['timit/data/TRAIN/DR4/MGAG0/SX61.TXT',
 'timit/data/TRAIN/DR4/MGAG0/SX61.WAV',
 'timit/data/TRAIN/DR4/MGAG0/SX61.PHN',
 'timit/data/TRAIN/DR4/MGAG0/SX61.WRD',
 'timit/data/TRAIN/DR4/MGAG0/SX61.WAV.wav']

In [194]:
# phoneme
df_phoneme = load_data(glob.glob('timit/data/TRAIN/DR4/MGAG0/SX61.PHN')[0], "phoneme")
df_phoneme.tail()

    start_sample  end_sample phoneme  diff_sample
32         36940       39000      ih         2060
33         39000       40200       f         1200
34         40200       40960     tcl          760
35         40960       41720       t          760
36         41720       43680      h#         1960

In [195]:
# word
df_word = load_data(glob.glob('timit/data/TRAIN/DR4/MGAG0/SX61.WRD')[0], "word")
df_word.tail()

   start_sample  end_sample      word  diff_sample
4         20305       26520      fail         6215
5         26520       28393        as         1873
6         28393       29033         a          640
7         29033       36280  romantic         7247
8         36280       41720      gift         5440

In [196]:
df_transcript = load_transcript('timit/data/TRAIN/DR4/MGAG0/SX61.TXT')
df_transcript.tail()

,start_sample,end_sample,transcript,diff_sample
0,0,43725,Chocolate and roses never fail as a romantic g...,43725

## MFCC
Note that we can always use smaller `win_length` and `hop_length` for more fine-grained alignment.

if we choose 25ms window and 5ms hop, we can have $25 * 10^-3 * 16000 = 400$ `win_length` and $5 * 10^-3 * 16000 = 80$ `hop_length`.

https://librosa.org/doc/main/generated/librosa.feature.mfcc.html#librosa.feature.mfcc

In [202]:
df_mfcc = process_audio_file('timit/data/TRAIN/DR4/MGAG0/SX61.WAV',
                             win_length=400, 
                             hop_length=80)
df_mfcc.tail()

,start_sample,end_sample,mfcc
541,43280,43680,"[-827.1031, 32.212986, 10.357775, 4.273916, -7..."
542,43360,43760,"[-833.8036, 18.833408, 6.527279, 11.398876, 0...."
543,43440,43840,"[-845.2821, 3.8058267, 1.8199315, 11.270794, 5..."
544,43520,43920,"[-847.30914, 4.7726836, 6.2668734, 6.074581, 8..."
545,43600,44000,"[-847.56964, 9.320388, 15.307094, 7.9442987, 1..."

In [203]:
df_mfcc.shape

(546, 3)

In [204]:
400/16000

0.025

In [205]:
80/16000

0.005

### draft/explanation

y: total number of samples

sr: number of samples per second

In [ ]:
y, sr = librosa.load('timit/data/TRAIN/DR4/MGAG0/SX61.WAV', sr=16000)
y.shape, sr

((43725,), 16000)

In [200]:
y, sr = librosa.load('timit/data/TRAIN/DR4/MGAG0/SX61.WAV')
y.shape, sr

((60259,), 22050)

In [201]:
# duration
60259/22050

2.732834467120181

we know y=43725

In [198]:
load_transcript('timit/data/TRAIN/DR4/MGAG0/SX61.TXT')

,start_sample,end_sample,transcript,diff_sample
0,0,43725,Chocolate and roses never fail as a romantic g...,43725

In [197]:
# try another 
y, sr = librosa.load('timit/data/TRAIN/DR4/MGAG0/SA1.WAV', sr=16000)
y.shape, sr

((45159,), 16000)

In [ ]:
load_transcript('timit/data/TRAIN/DR4/MGAG0/SA1.TXT')

   start_time  end_time                                         transcript
0           0     45159  She had your dark suit in greasy wash water al...

In [ ]:
# Number of samples=Duration×Sampling frequency (Sr in Hz)
# Hz represents the number of samples per second.
duration = len(y) / sr
duration

2.732834467120181

In [ ]:
43725/duration  
# if an audio file is 2.732834467120181 seconds long and contains 43725 samples, it means that the audio file has a sampling rate of approximately 16000 Hz

15999.871388506283

In [ ]:
n_mfcc = 20  # Number of MFCC coefficients
hop_length = 512  # Number of samples between consecutive frames (frame step)
win_length = 1024  # Length of the analysis window in samples (frame size)

In [ ]:
1024/16000  # 64 ms

0.064

In [ ]:
# Extract MFCC features
mfccs = librosa.feature.mfcc(y=y, sr=sr, hop_length=hop_length, win_length=win_length, n_mfcc=n_mfcc)

In [ ]:
mfccs.shape
# The first dimension (20) represents the number of MFCC coefficients extracted. This is a common default value, as 20 coefficients are often sufficient to capture relevant information about the spectral characteristics of the audio signal.
# The second dimension (86) represents the number of frames extracted from the audio signal. The number of frames is determined by the duration of the audio signal and the frame length and hop length used in the feature extraction process.

(20, 86)

In [ ]:
mfcc = load_mfcc('timit/data/TRAIN/DR4/MGAG0/SX61.WAV')
mfcc.shape

(20, 86)

In [ ]:
df_mfcc = construct_mfcc_df(mfcc)
df_mfcc.tail()

,start_sample,end_sample,mfcc
81,41472,42496,"[-494.7277, 7.1650486, -1.718417, 17.082987, -..."
82,41984,43008,"[-627.15405, 57.744026, -20.17612, 10.34127, -..."
83,42496,43520,"[-698.2599, 51.94442, -1.7764928, 8.506399, 11..."
84,43008,44032,"[-753.46246, 40.802723, 8.634056, 1.6109326, 1..."
85,43520,44544,"[-795.0889, 12.04735, 9.87564, 9.984465, 5.128..."

## Align df_mfcc and df_phoneme

epi, pau, h# are silence.

In [28]:
target_phoneme = ['epi', 'pau', 'h#', 'n', 'eh', 'v', 'axr']

# substitute every other phoneme with "#b"
df_phoneme['phoneme'] = df_phoneme['phoneme'].apply(lambda x: "#b" if x not in target_phoneme else x)
df_phoneme['phoneme'] = df_phoneme['phoneme'].apply(lambda x: "h#" if x in ['epi', 'pau'] else x)
df_phoneme.head()

   start_sample  end_sample phoneme  diff_sample
0             0        2370      h#         2370
1          2370        3442      #b         1072
2          3442        5351      #b         1909
3          5351        5973      #b          622
4          5973        6863      #b          890

In [189]:
df_phoneme.loc[13:18]

    start_sample  end_sample phoneme  diff_sample
13         15882       16790      #b          908
14         16790       17642       n          852
15         17642       18673      eh         1031
16         18673       19342       v          669
17         19342       20305     axr          963
18         20305       22950      #b         2645

In [207]:
target_range = df_mfcc[(df_mfcc['end_sample'] >= df_phoneme.loc[14, 'start_sample']) & (df_mfcc['start_sample'] <= df_phoneme.loc[18, 'end_sample'])]
target_range

,start_sample,end_sample,mfcc
205,16400,16800,"[-489.03186, -12.311717, 58.93512, 42.58722, -..."
206,16480,16880,"[-504.2323, -29.32409, 67.523476, 37.44905, -1..."
207,16560,16960,"[-521.99133, -28.142538, 59.3443, 28.163754, -..."
208,16640,17040,"[-531.2007, -17.439379, 42.591145, 7.9479475, ..."
209,16720,17120,"[-558.5072, -11.389967, 43.460793, -2.4091964,..."
...,...,...,...
282,22560,22960,"[-482.33563, -27.126205, -14.6975765, -14.7098..."
283,22640,23040,"[-486.65332, -8.8072815, -24.472666, -2.108832..."
284,22720,23120,"[-511.60602, 11.586173, -31.901, 6.689104, -30..."
285,22800,23200,"[-525.69745, 65.10106, -14.114042, 24.237728, ..."
286,22880,23280,"[-431.3623, 154.21849, -42.033157, 0.043079704..."

Because a frame (400 samples) can never contain more than 2 phonemes, we can use the following data structure to store the phoneme information.

```
h# (silence)
#b (other phonemes, noise)
#bn (bi-phonemes)
n
neh (bi-phonemes)
eh
v
axr
vaxr (bi-phonemes)
axr#b (bi-phonemes)
```

10 dimensional feature vector for each frame.

In [45]:
df_phoneme

    start_sample  end_sample phoneme  diff_sample
0              0        2370      h#         2370
1           2370        3442      #b         1072
2           3442        5351      #b         1909
3           5351        5973      #b          622
4           5973        6863      #b          890
5           6863        7118      #b          255
6           7118        7689      #b          571
7           7689        8871      #b         1182
8           8871       10485      #b         1614
9          10485       11947      #b         1462
10         11947       13767      #b         1820
11         13767       14888      #b         1121
12         14888       15882      #b          994
13         15882       16790      #b          908
14         16790       17642       n          852
15         17642       18673      eh         1031
16         18673       19342       v          669
17         19342       20305     axr          963
18         20305       22950      #b         2645
19         22950       24981      #b         2031
20         24981       26520      #b         1539
21         26520       27260      #b          740
22         27260       28393      #b         1133
23         28393       29033      #b          640
24         29033       29618      #b          585
25         29618       30575      #b          957
26         30575       31816      #b         1241
27         31816       33387      #b         1571
28         33387       33919      #b          532
29         33919       34757      #b          838
30         34757       36280      #b         1523
31         36280       36940      #b          660
32         36940       39000      #b         2060
33         39000       40200      #b         1200
34         40200       40960      #b          760
35         40960       41720      #b          760
36         41720       43680      h#         1960

In [54]:
df_mfcc
pd.set_option('display.max_rows', None)

In [58]:
label_df_mfcc(df_mfcc, df_phoneme) 
df_mfcc[(df_mfcc['start_sample']>=16000) & (df_mfcc['end_sample']<=23000)]

,start_sample,end_sample,mfcc,phoneme
200,16000,16400,"[-484.46353, 62.9625, 43.536667, 36.161552, -3...",#b
201,16080,16480,"[-493.01233, 40.778465, 48.444675, 40.07834, -...",#b
202,16160,16560,"[-496.74826, 30.404907, 50.27643, 51.164154, -...",#b
203,16240,16640,"[-486.746, 15.234005, 45.627895, 56.397243, -2...",#b
204,16320,16720,"[-480.75903, 9.849446, 51.09784, 55.48481, -24...",#b
205,16400,16800,"[-489.03186, -12.311717, 58.93512, 42.58722, -...","#b, n"
206,16480,16880,"[-504.2323, -29.32409, 67.523476, 37.44905, -1...","#b, n"
207,16560,16960,"[-521.99133, -28.142538, 59.3443, 28.163754, -...","#b, n"
208,16640,17040,"[-531.2007, -17.439379, 42.591145, 7.9479475, ...","#b, n"
209,16720,17120,"[-558.5072, -11.389967, 43.460793, -2.4091964,...","#b, n"
210,16800,17200,"[-623.5903, -1.6005177, 46.49632, -1.0682647, ...",n
211,16880,17280,"[-666.8244, 19.64281, 33.50325, 21.436499, -4....",n
212,16960,17360,"[-649.2126, 45.17038, 34.706863, 23.450588, -8...",n
213,17040,17440,"[-639.8352, 71.87477, 52.9447, 32.282722, -11....",n
214,17120,17520,"[-636.0895, 101.487274, 63.298653, 34.73152, -...",n
215,17200,17600,"[-599.7227, 117.037094, 61.29999, 26.613686, 4...",n
216,17280,17680,"[-536.48334, 104.36633, 48.28866, 28.025085, -...","n, eh"
217,17360,17760,"[-500.70184, 110.792206, 36.814095, 35.658302,...","n, eh"
218,17440,17840,"[-491.42133, 125.86969, 12.561092, 29.89256, -...","n, eh"
219,17520,17920,"[-448.33017, 115.45454, 14.546209, 18.578247, ...","n, eh"
220,17600,18000,"[-416.94336, 85.28746, 17.195007, 21.00034, -1...","n, eh"
221,17680,18080,"[-397.56198, 98.13431, 5.2881317, 11.355799, -...",eh
222,17760,18160,"[-424.40768, 127.215485, -9.365961, 8.973621, ...",eh
223,17840,18240,"[-435.517, 165.14792, -31.25533, 4.650485, -9....",eh
224,17920,18320,"[-440.91876, 168.59177, -31.277859, -3.0640872...",eh
225,18000,18400,"[-432.38898, 176.7599, -40.655052, -7.293141, ...",eh
226,18080,18480,"[-427.89743, 174.07559, -42.077656, -9.698025,...",eh
227,18160,18560,"[-427.9219, 175.70651, -36.178543, -19.02261, ...",eh
228,18240,18640,"[-434.30554, 187.02522, -37.77404, -25.906494,...",eh
229,18320,18720,"[-443.3191, 193.63895, -41.259636, -28.846601,...","eh, v"
230,18400,18800,"[-436.54388, 196.78693, -41.072655, -33.721855...","eh, v"
231,18480,18880,"[-453.01736, 192.81656, -31.893244, -39.74113,...","eh, v"
232,18560,18960,"[-459.12653, 207.50278, -25.424427, -49.76756,...","eh, v"
233,18640,19040,"[-488.37247, 205.85434, -17.605312, -53.789116...","eh, v"
234,18720,19120,"[-495.2552, 216.96564, -12.444662, -58.324867,...",v
235,18800,19200,"[-510.07468, 207.53056, -17.280153, -49.163918...",v
236,18880,19280,"[-510.1551, 210.93695, -18.840378, -53.873745,...",v
237,18960,19360,"[-527.30237, 203.377, -11.249298, -54.64305, 1...","v, axr"
238,19040,19440,"[-529.6416, 208.6814, -8.437595, -57.90896, -4...","v, axr"
239,19120,19520,"[-526.30695, 197.91687, -15.037313, -45.312153...","v, axr"
240,19200,19600,"[-508.16867, 198.699, -18.51471, -44.04934, -2...","v, axr"
241,19280,19680,"[-511.19934, 197.85205, -22.66352, -39.59131, ...","v, axr"
242,19360,19760,"[-500.0081, 207.6433, -26.802406, -39.258194, ...",axr
243,19440,19840,"[-502.94843, 208.77036, -25.33221, -42.191063,...",axr
244,19520,19920,"[-500.14044, 214.0463, -18.706516, -45.907677,...",axr
245,19600,20000,"[-494.67123, 214.12912, -25.855978, -43.332245...",axr
246,19680,20080,"[-491.0033, 209.34543, -27.854904, -31.215984,...",axr
247,19760,20160,"[-485.59738, 210.02322, -27.38602, -34.509983,...",axr
248,19840,20240,"[-491.61072, 212.29617, -27.538866, -37.94356,...",axr
249,19920,20320,"[-481.88885, 214.71848, -32.67253, -35.627457,...","axr, #b"
250,20000,20400,"[-481.69077, 193.935, -31.837742, -21.506584, ...","axr, #b"
251,20080,20480,"[-470.2397, 193.60445, -29.554375, -25.834396,...","axr, #b"
252,20160,20560,"[-477.51605, 163.4524, -22.68878, -17.533401, ...","axr, #b"
253,20240,20640,"[-481.26013, 148.15472, -13.647728, -5.7203813...","axr, #b"
254,20320,20720,"[-482.55515, 125.12335, -14.196966, 3.7379746,...",#b
255,20400,20800,"[-498.7681, 95.57914, -8.433205, 21.526897, -1...",#b
256,20480,20880,"[-511.01273, 71.49567, 8.349766, 35.97074, -11...",#b
257,20560,20960,"[-515.9439, 32.491726, -0.28337213, 30.034138,...",#b
258,20640,21040,"[-513.2176, 6.9399614, -20.530819, 11.118757, ...",#b
259,20720,21120,"[-514.00854, -8.057806, -15.776029, 0.23441702...",#b
260,20800,21200,"[-518.74786, -20.713572, -15.8239975, -9.10855...",#b
261,20880,21280,"[-521.2073, -22.039764, -6.867896, -10.944318,...",#b
262,20960,21360,"[-528.271, -33.85981, -5.0553074, -9.53964, -1...",#b
263,21040,21440,"[-540.28033, -33.24169, -5.490847, -11.741016,...",#b
264,21120,21520,"[-550.3488, -11.079335, 7.884188, -7.122428, -...",#b
265,21200,21600,"[-564.60364, -4.792492, 16.263905, -0.8366865,...",#b
266,21280,21680,"[-573.72485, -8.243006, 19.0149, -1.9275634, -...",#b
267,21360,21760,"[-590.1141, -22.407948, 12.310143, -9.792654, ...",#b
268,21440,21840,"[-602.9301, -25.859722, 14.373261, 0.31548914,...",#b
269,21520,21920,"[-603.72314, -6.6404476, 26.609692, 14.473787,...",#b
270,21600,22000,"[-596.2986, -2.7312303, 13.641609, 6.250611, 1...",#b
271,21680,22080,"[-586.4098, 3.7381, 6.376712, -5.889617, 3.856...",#b
272,21760,22160,"[-583.5128, 6.4832654, 10.238553, -7.0887012, ...",#b
273,21840,22240,"[-584.58997, -5.147588, 11.534483, 6.1277466, ...",#b
274,21920,22320,"[-581.9887, -11.532995, 9.080414, 7.780227, 16...",#b
275,22000,22400,"[-570.7071, -11.210302, 9.270159, -4.637658, 3...",#b
276,22080,22480,"[-555.12286, -14.866529, 4.8797812, -11.985682...",#b
277,22160,22560,"[-531.83374, -17.587114, 0.53294367, -18.28409...",#b
278,22240,22640,"[-511.72812, -22.542326, 5.2356987, -27.326, -...",#b
279,22320,22720,"[-491.39752, -31.822592, 3.1040156, -27.381037...",#b
280,22400,22800,"[-474.90488, -34.402405, 1.7869701, -17.257858...",#b
281,22480,22880,"[-480.26782, -36.932945, -2.1388874, -8.930695...",#b
282,22560,22960,"[-482.33563, -27.126205, -14.6975765, -14.7098...",#b

In [173]:
# for each row in df_mfcc, find the corresponding phoneme
row = df_mfcc.loc[210]
row

start_sample                                                16800
end_sample                                                  17200
mfcc            [-623.5903, -1.6005177, 46.49632, -1.0682647, ...
Name: 210, dtype: object

In [174]:
phoneme_labels = []
phonemes = ['h', 'b', 'bn', 'n', 'eh', 'v', 'axr', 'vaxr', 'axr#b']

In [175]:
# locate the range of phoneme
start_sample = row['start_sample']
end_sample = row['end_sample']

phoneme_vector = [0] * 10

phonme_subset = df_phonme[(df_phonme['start_sample'] >= start_sample) & (df_phonme['end_sample'] <= end_sample)]

for _, phonme_row in phonme_subset.iterrows():
    phoneme = phonme_row['phoneme']
    if phoneme in phonemes:
        phoneme_index = phonemes.index(phoneme)
        phoneme_vector[phoneme_index] = 1

phoneme_labels.append(phoneme_vector)

phoneme_labels

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]